Username:<br>
<input type="string" [(ngModel)]="username"> <br>

Email: <br>
<input type="email" [(ngModel)]="useremail"> <br>

role: <br>
<input type="string" [(ngModel)]="userrole">   <br>

Group Name: <br>
<input type="string" [(ngModel)]="groupname">   <br>

Room Name: <br>
<input type="string" [(ngModel)]="roomname">   <br>

<button class="log_but" id="submit"(click)="crtUserFunc()">Submit</button>

<button class="log_but" id="submit"(click)="logoutFunc()">Logout</button>

<button class="log_but" id="submit"(click)="crtGrpFunc()">Create Group</button>

<button class="log_but" id="submit"(click)="dltGrpFunc()">Delete Group</button>

<button class="log_but" id="submit"(click)="crtRoomFunc()">Create Room</button>

<button class="log_but" id="submit"(click)="dltRoomFunc()">Delete Room</button>

<button class="log_but" id="submit"(click)="addUserGroupFunc()">Add User Group</button>

<button class="log_but" id="submit"(click)="addUserRoomFunc()">Add User Room</button>
